# Add any directories, files, or patterns you don't want to be tracked by version control
syntax: glob

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/**
develop-eggs/**
dist/**
downloads/**
eggs/**
lib/**
lib64/**
parts/**
sdist/**
var/**
*.egg-info/
.installed.cfg
*.egg
*_old-site/*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/**
**/.tox/**
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
**/docs/_build/**

# PyBuilder
**/target/**
.vagrant
local_settings.py

#Node
**/node_modules/**
**/bower_components/**

*.rdb
**/.idea/**


**/site_media/**


**/migrations/**

**/uploads/*

*.pyc