/*
    Sample UI for Adding sample & clean UI with less code
*/

/*
Font Family
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/*
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/lato-semibold-webfont.eot');
    src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('../fonts/lato-semibold-webfont.woff') format('woff'),
         url('../fonts/lato-semibold-webfont.ttf') format('truetype'),
         url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/


/* reset */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol {margin:0;padding : 0;}
html, body {height:100%:}
a {text-decoration : none;}
a img {border:none;}
.border-box {
    box-sizing: border-box;
}
/*typos*/
.regular, .normal, body, p, textarea, input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.bold, h3 {
    font-weight: bold;
}
.light, .title, .sub-title, .barre-title {
    font-weight: 300;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
h1, .h1-like, .font24 {
    font-size: 24px;
}
h2, .h2-like, .font20 {
    font-size: 20px;
}
h3, .h3-like, .font18 {
    font-size: 18px;
}
h4, .h4-like, .font16 {
    font-size: 16px;
}
input[type="button"], button, .btn, input[type="submit"] {
    font-size: 16px;
}
label {
    font-size: 15px;
}
.sub-element {
    font-size: 12px;
}
.little-element {
    font-size: 10px;
}
/*
COLORS
*/
.bg,.progress-bar {
    background-color: #e5e9ef;
}

.gris-bg {
    background-color: #f2f4f7;
}
body, input, textarea, select, .bg, .theme-white .navigation a {
    color: #58658a;
}
body, p {
    line-height: 24px;
}
.white, .theme-white .background {
    background-color: #fff;
}
.white-color, .theme-white .color {
    color: #fff;
}
.white-shadow, .theme-white .shadow {
    box-shadow: 3px 3px 10px rgba(0,34,99, 0.1);
}
.essentiel, .theme-essentiel .background {
    background-color: #002263;
}
.essentiel-color, .theme-essentiel .color, .theme-essentiel .navigation a {
    color: #002263;
}
.essentiel-shadow, .theme-essentiel .shadow {
    box-shadow: 3px 3px 10px rgba(0,34,99, 0.2);
}
.essentiel-shadow-hover, .essentiel-shadow.hover:hover, .theme-essentiel input[type="button"].background:hover, .theme-essentiel input[type="submit"].background:hover, .theme-essentiel .btn.background:hover, .theme-essentiel button.background:hover, input[type="button"].essentiel:hover, input[type="submit"].essentiel:hover, .btn.essentiel:hover, button.essentiel:hover {
    box-shadow: 6px 6px 12px rgba(0,34,99, 0.6);
}
.essentiel-shadow-active, .essentiel-shadow.active:active, .theme-essentiel input[type="button"].background:active, .theme-essentiel input[type="submit"].background:active, .theme-essentiel .btn.background:active, .theme-essentiel button.background:active, input[type="button"].essentiel:active, input[type="submit"].essentiel:active, .btn.essentiel:active, button.essentiel:active {
    background-color: #011844;
    box-shadow: 0px 0px 12px rgba(0,34,99, 0.8);
}
.violet, .theme-violet .background {
    background-color: #712d90;
}
.violet-shadow, .theme-violet .shadow {
    box-shadow: 3px 3px 10px rgba(113,45,144, 0.6);
}
.violet-shadow-hover, .violet-shadow.hover:hover, .theme-violet input[type="button"].background:hover, .theme-violet input[type="submit"].background:hover, .theme-violet .btn.background:hover, .theme-violet button.background:hover, input[type="button"].violet:hover, input[type="submit"].violet:hover, .btn.violet:hover, button.violet:hover {
    box-shadow: 6px 6px 12px rgba(113,45,144, 0.6);
}
.violet-shadow-active, .violet-shadow.active:active, .theme-violet input[type="button"].background:active, .theme-violet input[type="submit"].background:active, .theme-violet .btn.background:active, .theme-violet button.background:active, input[type="button"].violet:active, input[type="submit"].violet:active, .btn.violet:active, button.violet:active {
    background-color: #54226b;
    box-shadow: 0px 0px 12px rgba(113,45,144, 0.8);
}
.violet-color, .theme-violet .color, .theme-violet .navigation a {
    color: #712d90;
}
.bleu, .theme-bleu .background {
    background-color: #2e2b9a;
}
.bleu-shadow, .theme-bleu .shadow  {
    box-shadow: 3px 3px 10px rgba(46,43,154, 0.6);
}
.bleu-shadow-hover, .bleu-shadow.hover:hover, .theme-bleu input[type="button"].background:hover, .theme-bleu input[type="submit"].background:hover, .theme-bleu .btn.background:hover, .theme-bleu button.background:hover, input[type="button"].bleu:hover, input[type="submit"].bleu:hover, .btn.bleu:hover, button.bleu:hover {
    box-shadow: 6px 6px 12px rgba(46,43,154, 0.6);
}
.bleu-shadow-active, .bleu-shadow.active:active, .theme-bleu input[type="button"].background:active, .theme-bleu input[type="submit"].background:active, .theme-bleu .btn.background:active, .theme-bleu button.background:active, input[type="button"].bleu:active, input[type="submit"].bleu:active, .btn.bleu:active, button.bleu:active {
    background-color: #232175;
    box-shadow: 0px 0px 12px rgba(46,43,154, 0.8);
}
.bleu-color, .theme-bleu .color, .theme-bleu .navigation a  {
    color: #2e2b9a;
}
.red, .theme-red .background, .message.alert  {
    background-color: #e84b3a; 
}
.red-shadow, .theme-red .shadow, .message.alert {
    box-shadow: 3px 3px 10px rgba(232,75,58, 0.6);
}
.red-shadow-hover, .red-shadow.hover:hover, .theme-red input[type="button"].background:hover, .theme-red input[type="submit"].background:hover, .theme-red .btn.background:hover, .theme-red button.background:hover, input[type="button"].red:hover, input[type="submit"].red:hover, .btn.red:hover, button.red:hover {
    box-shadow: 6px 6px 12px rgba(232,75,58, 0.6);
}
.red-shadow-active, .red-shadow.active:active, .theme-red input[type="button"].background:active, .theme-red input[type="submit"].background:active, .theme-red .btn.background:active, .theme-red button.background:active, input[type="button"].red:active, input[type="submit"].red:active, .btn.red:active, button.red:active {
    background-color: #c94032;
    box-shadow: 0px 0px 12px rgba(232,75,58, 0.8);
}
.red-color, .theme-red .color, .theme-red .navigation a {
    color: #e84b3a; 
}
.bleu-active, .theme-bleu-active .background {
    background-color: #38baf6;
}
.bleu-active-shadow, .theme-bleu-active .shadow  {
    box-shadow: 3px 3px 10px rgba(56,186,246, 0.6);
}
.bleu-active-shadow-hover, .bleu-active-shadow.hover:hover, .theme-bleu-active input[type="button"].background:hover, .theme-bleu-active input[type="submit"].background:hover, .theme-bleu-active .btn.background:hover, .theme-bleu-active button.background:hover, input[type="button"].bleu-active:hover,input[type="submit"].bleu-active:hover, .btn.bleu-active:hover, button.bleu-active:hover {
    box-shadow: 6px 6px 12px rgba(56,186,246, 0.6);
}
.bleu-active-shadow-active, .bleu-active-shadow.active:active, .theme-bleu-active input[type="button"].background:active, .theme-bleu-active input[type="submit"].background:active, .theme-bleu-active .btn.background:active, .theme-bleu-active button.background:active, input[type="button"].bleu-active:active,input[type="submit"].bleu-active:active, .btn.bleu-active:active, button.bleu-active:active {
    background-color: #31a1d4;
    box-shadow: 0px 0px 12px rgba(56,186,246, 0.8);
}
.bleu-active-color, .theme-bleu-active .color, .theme-bleu-active .navigation a  {
    color: #38baf6;
}
.bleu-web, .theme-bleu-web .background, .message.info  {
    background-color: #107afe;
}
.bleu-web-shadow, .theme-bleu-web .shadow, .message.info  {
    box-shadow: 3px 3px 10px rgba(16,122,254, 0.6);
}
.bleu-web-shadow-hover, .bleu-web-shadow.hover:hover, .theme-bleu-web input[type="button"].background:hover, .theme-bleu-web input[type="submit"].background:hover, .theme-bleu-web .btn.background:hover, .theme-bleu-web button.background:hover, input[type="button"].bleu-web:hover,input[type="submit"].bleu-web:hover, .btn.bleu-web:hover, button.bleu-web:hover {
    box-shadow: 6px 6px 12px rgba(16,122,254, 0.6);
}
.bleu-web-shadow-hover, .bleu-web-shadow.active:active, .theme-bleu-web input[type="button"].background:active, .theme-bleu-web input[type="submit"].background:active, .theme-bleu-web .btn.background:active, .theme-bleu-web button.background:active, input[type="button"].bleu-web:active,input[type="submit"].bleu-web:active, .btn.bleu-web:active, button.bleu-web:active {
    background-color: #1168d5;
    box-shadow: 0px 0px 12px rgba(16,122,254, 0.8);
}
.bleu-web-color, .theme-bleu-web .color, .theme-bleu-web .navigation a  {
    color: #107afe;
}
.bleu-violet, .theme-bleu-violet .background  {
    background-color: #6c55f0; 
}
.bleu-violet-shadow, .theme-bleu-violet .shadow {
    box-shadow: 3px 3px 10px rgba(108,85,240, 0.6);
}
.bleu-violet-shadow-hover, .bleu-violet-shadow.hover:hover, .theme-bleu-violet input[type="button"].background:hover, .theme-bleu-violet input[type="submit"].background:hover, .theme-bleu-violet .btn.background:hover, .theme-bleu-violet button.background:hover, input[type="button"].bleu-violet:hover,input[type="submit"].bleu-violet:hover, .btn.bleu-violet:hover, button.bleu-violet:hover {
    box-shadow: 6px 6px 12px rgba(108,85,240, 0.6);
}
.bleu-violet-shadow-active, .bleu-violet-shadow.active:active, .theme-bleu-violet input[type="button"].background:active, .theme-bleu-violet input[type="submit"].background:active, .theme-bleu-violet .btn.background:active, .theme-bleu-violet button.background:active, input[type="button"].bleu-violet:active,input[type="submit"].bleu-violet:active, .btn.bleu-violet:active, button.bleu-violet:active {
    background-color: #5c49cc;
    box-shadow: 0px 0px 12px rgba(108,85,240, 0.8);
}
.bleu-violet-color, .theme-bleu-violet .color, .theme-bleu-violet .navigation a {
    color: #6c55f0; 
}
.yellow, .theme-yellow .background, .message.warning {
    background-color: #ffc400;
}
.yellow-shadow, .theme-yellow .shadow , .message.warning{
    box-shadow: 3px 3px 10px rgba(255,196,0, 0.6);
}
.yellow-shadow-hover, .yellow-shadow.hover:hover, .theme-yellow input[type="button"].background:hover, .theme-yellow input[type="submit"].background:hover, .theme-yellow .btn.background:hover, .theme-yellow button.background:hover, input[type="button"].yellow:hover, input[type="submit"].yellow:hover, .btn.yellow:hover, button.yellow:hover {
    box-shadow: 6px 6px 12px rgba(255,196,0, 0.6);
}
.yellow-shadow-active, .yellow-shadow.active:active, .theme-yellow input[type="button"].background:active, .theme-yellow input[type="submit"].background:active, .theme-yellow .btn.background:active, .theme-yellow button.background:active, input[type="button"].yellow:active, input[type="submit"].yellow:active, .btn.yellow:active, button.yellow:active {
    background-color: #dca900;
    box-shadow: 0px 0px 12px rgba(255,196,0, 0.8);
}
.yellow-color, .theme-yellow .color, .theme-yellow .navigation a {
    color: #ffc400;
}
.green, .theme-green .background, .message.success {
    background-color: #00e7b4;
}
.green-shadow, .theme-green .shadow, .message.success {
    box-shadow: 3px 3px 10px rgba(0,231,190, 0.6);
}
.green-shadow-hover, .green-shadow.hover:hover, .theme-green input[type="button"].background:hover, .theme-green input[type="submit"].background:hover, .theme-green .btn.background:hover, .theme-green button.background:hover, input[type="button"].green:hover, input[type="submit"].green:hover, .btn.green:hover, button.green:hover {
    box-shadow: 6px 6px 12px rgba(0,231,190, 0.6);
}
.green-shadow-active, .green-shadow.active:active, .theme-green input[type="button"].background:active, .theme-green input[type="submit"].background:active, .theme-green .btn.background:active, .theme-green button.background:active, input[type="button"].green:active, input[type="submit"].green:active, .btn.green:active, button.green:active {
    background-color: #02c197;
    box-shadow: 0px 0px 12px rgba(0,231,190, 0.8);
}
.green-color, .theme-green .color, .theme-green .navigation a {
    color: #00e7b4;
}
.rose, .theme-rose .background {
    background-color: #ff4167;
}
.rose-shadow, .theme-rose .shadow {
    box-shadow: 3px 3px 5px rgba(255,65,103, 0.6);
}
.rose-shadow-hover, .rose-shadow.hover:hover, .theme-rose input[type="button"].background:hover, .theme-rose input[type="submit"].background:hover, .theme-rose .btn.background:hover, .theme-rose button.background:hover, input[type="button"].rose:hover, input[type="submit"].rose:hover, .btn.rose:hover, button.rose:hover {
    box-shadow: 6px 6px 12px rgba(255,65,103, 0.6);
}
.rose-shadow-active, .rose-shadow.active:active, .theme-rose input[type="button"].background:active, .theme-rose input[type="submit"].background:active, .theme-rose .btn.background:active, .theme-rose button.background:active, input[type="button"].rose:active, input[type="submit"].rose:active, .btn.rose:active, button.rose:active {
    background-color: #e13a5c;
    box-shadow: 0px 0px 12px rgba(255,65,103, 0.8);
}
.rose-color, .theme-rose .color, .theme-rose .navigation a {
    color: #ff4167;
}
.border {
    border: #ccd3e0 solid 1px;
}
.border-dashed {
    border: #ccd3e0 dashed 1px;
}
.items li+li, .items div+div {
    border-top: #ccd3e0 solid 1px;
}
.theme-essentiel .background, .theme-red .background, .theme-bleu-active .background, .theme-bleu-violet .background, .theme-bleu-web .background, .theme-bleu .background, .theme-yellow .background, .theme-rose .background, .theme-green .background, .theme-violet .background {
    color: #fff;
}
/*
UI
*/
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], input[type="time"], input[type="number"], textarea, select {
    width: 100%;
    height: 40px;
    padding-left : 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border : #e5e8ef solid 1px;
    box-shadow : 1px 1px 2px rgba(0,34,99, 0.1);
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="time"]:focus, textarea:focus, select:focus, input.focus, select.focus, textarea.focus {
    background-color : #fff;
    border : #99a7c1 solid 1px;
    box-shadow : 0px 0px 6px rgba(0,34,99, 0.2);
}
input[type="text"].error, input[type="email"].error, input[type="number"].error, input[type="tel"].error, input[type="date"].error, input[type="password"].error, input[type="time"].error, textarea.error {
    border: #e84b3a solid 1px;
    background: url("../images/ui/error.png") no-repeat 96% center #fff;
    box-shadow: 2px 2px 3px rgba(232,75,58, 0.3);
    color: #e84b3a;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border : #e5e8ef solid 1px;
}
option {
    display: block;
    padding: 15px;
    background-color: #fff;
    border : #e5e8ef solid 1px;
}
select {
    background: url("../images/ui/arrow_select.png") no-repeat 97% center #fff;
}
select:focus {
    background: url("../images/ui/arrow_select_focus.png") no-repeat 97% center #fff;
}

input.no-style, input.no-style:focus {
	border : none;
	box-shadow : none;
}
textarea, .textarea {
	height : 160px;
	padding-top : 10px;
	vertical-align : top;
}
.error-p label {
    color: #e84b3a;
}
input[type="checkbox"], input[type="radio"] {
    width : 28px;
    height : 28px;
    opacity : 0;
	cursor : pointer;
	position : absolute;
	z-index : 10;
	top : 2px;
	left : 0;
}
input[type="checkbox"]+label, input[type="radio"]+label {
	margin-left : 45px;
	width : 80%;
	float : none;
    margin-top: 5px;
    display: inline-block;
}
input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	content : '';
	display : block;
	width : 28px;
	height : 28px;
	position : absolute;
	background : url("../images/ui/checkbox.png") no-repeat 0 0;
	z-index : 0;
	top : 2px;
	left : 0;
    box-shadow: 2px 2px 3px rgba(0,34,99, 0.1);
}
input[type="radio"]+label:before {
    background : url("../images/ui/radiobox.png") no-repeat 0 0;
    border-radius: 100%;
}
input[type="checkbox"]:checked+label:before, input[type="radio"]:checked+label:before {
	background-position : 0 bottom;
    box-shadow: 2px 2px 6px rgba(56,186,246, 0.4);
}
input[type="button"], input[type="submit"], .btn, button {
    display: inline-block;
    min-width: 160px;
    height : 50px;
    border: none;
    color: #fff;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
}
.gris {
    background-color: #bfc8d8;
}
/*button.gris, input.gris, .btn.gris, input[type="button"].gris, input[type="submit"].gris {
    color: #58658a;
}*/
input[type="button"]+input[type="button"], input[type="submit"]+input[type="submit"], input[type="submit"]+input[type="button"], input[type="button"]+input[type="submit"], .btn+.btn, button+button {
    margin-left: 30px;
}
.btn {
    height: auto;
    padding: 15px;
}
input[type="button"]:hover, input[type="submit"]:hover, .btn:hover, button:hover, button.hover, input[type="button"].hover, input[type="submit"].hover, .btn.hover {
    transform: scale(1.01,1.01);
}
input[type="button"]:active, input[type="submit"]:active, .btn:active, button:active, button.active, input[type="button"].active, input[type="submit"].active, .btn.active {
    transform: scale(1,1);
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 100;
    top : 0;
    left: 0;
    display: none;
}
.overlay-black {
    background-color: rgba(0,0,0,0.8);
}
.sortable {
	z-index: 200;
}
.draggable {
	z-index: 210;
}
.popup {
    width : 600px;
    margin: 30px auto;
    z-index: 110;
}
.widget-search input {
	font-size : 12px;
	background : url("../images/ui/search.png") no-repeat 95% center #fff;
}
/*
* Utils
*/
.left, .horizontal li, .half, .side, .col-3 {float: left;}
.right, .horizontal .right,{float: right}
.clear, .clr {clear: both;}
.absolute, .full, .value-progress{position: absolute;}
.relative, .popup, form p, .progress-bar {position: relative;}
.fixed, .overlay {position: fixed;}
.block, li, .clr, .clear, .horizontal{display: block;}
.inline-block{display: inline-block;}
.none {display: none;}
.uppercase{text-transform : uppercase;}
.capitalize{text-transform : capitalize;}
.align-center {text-align : center;}
.align-justify {text-align : justify;}
.align-right {text-align : right;}
.vertical-center { vertical-align: middle;}
.souligner, .underline { text-decoration : underline;}
.center-auto, .box, .container, .container-classic{float:none;margin-left : auto;margin-right : auto;}
.no-center-auto {margin-left : 0;margin-right : 0;}
.top5 {margin-top:5px;}
.top10 {margin-top : 10px;}
.top15 {margin-top : 15px;}
.top20 {margin-top : 20px;}
.top25 {margin-top : 25px;}
.top30 {margin-top : 30px;}
.top60 { margin-top : 60px; }
.top-2 {margin-top: -2px;}
.bottom5 {margin-bottom:5px;}
.bottom10 {margin-bottom : 10px;}
.bottom15 {margin-bottom : 15px;}
.bottom20 {margin-bottom : 20px;}
.bottom25 {margin-bottom : 25px;}
.bottom30 {margin-bottom : 30px;}
.bottom60 {margin-bottom : 60px;}
.left10 {margin-left : 10px;}
.left15 {margin-left : 15px;}
.left20 {margin-left : 20px;}
.left30 {margin-left : 30px;}
.box5 {padding:5px;}
.box10 {padding:10px;}
.box15, .tabs li {padding:15px;}
.box20 {padding:20px;}
.box25 {padding:25px;}
.box30, .popup{padding:30px;}
.boxHor5 {padding: 0 5px;}
.boxHor10 {padding: 0 10px;}
.boxHor15 {padding: 0 15px;}
.boxHor20 {padding: 0 20px;}
.boxHor25 {padding: 0 25px;}
.boxHor30 {padding: 0 30px;}
.boxHor40 {padding: 0 40px;}

.boxVer5 {padding: 5px 0px;}
.boxVer10 {padding: 10px 0px;}
.boxVer15 {padding: 15px 0px;}
.bboxVer20 {padding: 20px 0px;}
.boxVer25 {padding: 25px 0px;}
.boxVer30 {padding: 30px 0px;}
.boxVer40 {padding: 40px 0px;}

.pointer{ cursor: pointer;}
.GPU-accelerated, .animate, input, .btn, button, select, textarea { 
    -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
.animate, input, .btn, button, .navigation a {
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
	-ms-transition: all 0.5s; /* Opera */
}
.no-animate {
	-moz-transition: opacity 0s; /* Firefox 4 */
	-webkit-transition: opacity 0s; /* Safari and Chrome */
	-o-transition: opacity 0s; /* Opera */
	-ms-transition: opacity 0s; /* Opera */
}
/*
* Layout
*/
.container {
    width: 1200px;
}
.container-full {
    width: 100%;
}
.container-classic {
    width: 960px;
}
.box {
    box-sizing: border-box;
}
.side {width : 15%; border-right : #c9cbcf solid 2px; box-sizing: border-box;}
.content {width : 85%;}
.box-30 {width : 30%;}
.full {width: 100%; height: 100%; top : 0; left : 0;}
.half {width: 50%;}
.space10 {margin-left: -10px; margin-right: -10px;}
.space15 {margin-left: -15px; margin-right: -15px;}
.space20 {margin-left: -20px; margin-right: -20px;}
.space30 {margin-left: -30px; margin-right: -30px;}
/*
Grid
*/
.col-1 {
    width: 100%;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 33.33%;
}
.col-4 {
    width: 25%;
}
.col-5 {
    width: 20%;
}
.col-6 {
    width: 16.66%;
}
.col-7 {
    width: 14.28%;
}
.col-8 {
    width: 12.5%;
}
.col-9 {
    width: 11.11%;
}
.col-10 {
    width: 10%;
}
.col-11 {
    width: 9.09%;
}
.col-12 {
    width: 8.33%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    box-sizing: border-box;
}
.col-1.center-auto, .col-2.center-auto, .col-3.center-auto, .col-4.center-auto, .col-5.center-auto, .col-6.center-auto, .col-7.center-auto, .col-8.center-auto, .col-9.center-auto, .col-10.center-auto, .col-11.center-auto, .col-12.center-auto {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.row {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.row.gutter-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.row.gutter-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.row.gutter-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.gutter-15 .col-1, .gutter-15 .col-2, .gutter-15 .col-3, .gutter-15 .col-4, .gutter-15 .col-5, .gutter-15 .col-6, .gutter-15 .col-7, .gutter-15 .col-8, .gutter-15 .col-9, .gutter-15 .col-10, .gutter-15 .col-11, .gutter-15 .col-12{
    padding-right: 15px;
}
.gutter-20 .col-1, .gutter-20 .col-2, .gutter-20 .col-3, .gutter-20 .col-4, .gutter-20 .col-5, .gutter-20 .col-6, .gutter-20 .col-7, .gutter-20 .col-8, .gutter-20 .col-9, .gutter-20 .col-10, .gutter-20 .col-11, .gutter-20 .col-12{
    padding-right: 20px;
}
.gutter-30 .col-1, .gutter-30 .col-2, .gutter-30 .col-3, .gutter-30 .col-4, .gutter-30 .col-5, .gutter-30 .col-6, .gutter-30 .col-7, .gutter-30 .col-8, .gutter-30 .col-9, .gutter-30 .col-10, .gutter-30 .col-11, .gutter-30 .col-12{
    padding-right: 30px;
}
.row .last-col {
    padding-right: 0px;
}
/*responsive Grid*/
@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}


@media (max-width: 992px) {
    .container {
      width: 94%;
      padding-right: 3%;
      padding-left: 3%;
      margin-right: auto;
      margin-left: auto;
    }
    .responsive-model-1 .row .col-1, .responsive-model-1 .row .col-2, .responsive-model-1 .row .col-3, .responsive-model-1 .row .col-4, .responsive-model-1 .row .col-5, .responsive-model-1 .row .col-6, .responsive-model-1 .row .col-7, .responsive-model-1 .row .col-8, .responsive-model-1 .row .col-9, .responsive-model-1 .row .col-10, .responsive-model-1 .row .col-11, .responsive-model-1 .row .col-12 {
        width: 100%;
    }
    .gutter-15 .last-col {
        padding-right: 15px;
    }
    .gutter-20 .last-col {
        padding-right: 20px;
    }
    .gutter-30 .last-col {
        padding-right: 30px;
    }
    .responsive-model-2 .row .col-1, .responsive-model-2 .row .col-2, .responsive-model-2 .row .col-3 {
        width: 100%;
    }
    
    .responsive-model-2 .row .col-4, .responsive-model-2 .row .col-5, .responsive-model-2 .row .col-6, .responsive-model-2 .row .col-7, .responsive-model-2 .row .col-8, .responsive-model-2 .row .col-9, .responsive-model-2 .row .col-10, .responsive-model-2 .row .col-11, .responsive-model-2 .row .col-12 {
        width: 50%;
    }
    
    .responsive-model-3 .row .col-1, .responsive-model-3 .row .col-2 {
        width: 50%;
    }
    
    .responsive-model-3 .row .col-3, .responsive-model-3 .row .col-4, .responsive-model-3 .row .col-5, .responsive-model-3 .row .col-6, .responsive-model-3 .row .col-7, .responsive-model-3 .row .col-8, .responsive-model-3 .row .col-9, .responsive-model-3 .row .col-10, .responsive-model-3 .row .col-11, .responsive-model-3 .row .col-12 {
        width: 33.33%;
    }
}
@media (max-width: 768px) {
    
    
}
@media (max-width: 992px) {
    
    
}
@media (max-width: 1200px) {
   
}


/*FORM*/
form label{
    display: block;
    margin-bottom: 7px;
}
form p+p, form .div-input+.div-input{
    margin-top: 20px;
}
form .message-error-input {
    display: block;
    margin-top: 3px;
    font-size : 14px;
    color: #e84b3a;
}
/*
progress-bar 
*/
.progress-bar {
    height: 10px; 
}
.value-progress {
    height: 10px;
    top: 0;
    left: 0;
}
/*
table
*/
/*
table
*/
.widget-table {
	width : 100%;
}
.header-table {
    background-color: #f3f4f8;
	position : relative; 
}
table {
    border: #cbd3e0 solid 1px;
}
th {
    padding: 20px 1%;
    width: 23%;
    font-size: 18px;
    border-bottom: #99a7c2 solid 3px;
    text-align: left;
}
.theme-violet th {
    border-bottom: #54226b solid 3px;
}
.theme-bleu th {
    border-bottom: #2e2b9a solid 3px;
}
.theme-red th {
    border-bottom: #e84b3a solid 3px;
}
.theme-bleu-active th {
    border-bottom: #38baf6 solid 3px;
}
.theme-bleu-web th {
    border-bottom: #0f7afe solid 3px;
}
.theme-bleu-violet th {
    border-bottom: #6d55f1 solid 3px;
}
.theme-bleu-yellow th {
    border-bottom: #ffc300 solid 3px;
}
.theme-bleu-green th {
    border-bottom: #00e6b5 solid 3px;
}
.theme-bleu-rose th {
    border-bottom: #ff4167 solid 3px;
}
td {
    padding: 15px 1%;
    width: 23%;
}
.zebra td, tbody tr tr:nth-child(odd) td{
    background-color: #f5f6fa;
}
/*
messages
*/
.message {
    padding: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.message.success {
    background-image: url("../images/ui/check.png");
    background-position: 20px center;
    background-repeat: no-repeat;
}
.message.info {
    background-image: url("../images/ui/info.png");
    background-position: 20px center;
    background-repeat: no-repeat;
}
.message.alert {
    background-image: url("../images/ui/alert.png");
    background-position: 20px center;
    background-repeat: no-repeat;
}
/*
navigation
*/
.navigation a {
    display: block;
    padding: 10px 15px;
    opacity: 0.4;
    border-bottom: #fff solid 2px;
}
.navigation a:hover {
    opacity: 0.8;
}
.navigation a.active {
    opacity: 1;
    border-bottom: #002262 solid 4px;
}
.theme-violet .navigation a.active {
    border-bottom: #712d90 solid 4px;
}
.theme-bleu .navigation a.active {
    border-bottom: #2e2b9a solid 4px;
}
.theme-red .navigation a.active {
    border-bottom: #e84b3a solid 4px;
}
.theme-bleu-active .navigation a.active {
    border-bottom: #38baf6 solid 4px;
}
.theme-bleu-web .navigation a.active {
    border-bottom: #107afe solid 4px;
}
.theme-bleu-violet .navigation a.active {
    border-bottom: #6c55f0 solid 4px;
}
.theme-yellow .navigation a.active {
    border-bottom: #ffc400 solid 4px;
}
.theme-green .navigation a.active {
    border-bottom: #00e7b4 solid 4px;
}
.theme-rose .navigation a.active {
    border-bottom: #ff4167 solid 4px;
}










